{{ form_start(form) }}
   DATE: {{ form_widget(form.date) }}
   IMAGE: {{ form_widget(form.image) }}
   TITLE: {{ form_widget(form.title) }}
   TEXT: {{ form_widget(form.text) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
