{% extends 'property.view.base.html.twig' %}

{% block title %}Agency{% endblock %}

{% block body %}
    <h1>Agency</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Name</th>
            <td>{{ agency.name }}</td>
        </tr>
        <tr>
            <th>Surname</th>
            <td>{{ agency.surname }}</td>
        </tr>
        <tr>
            {% for user in agency.user %}
                <th>Email</th>
                <td>{{ user.email }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>Agency</th>
            <td>{{ agency.agency }}</td>
        </tr>
        <tr>
            <th>Website</th>
            <td>{{ agency.website }}</td>
        </tr>
        <tr>
            <th>Country</th>
            <td>{{ agency.country }}</td>
        </tr>

        </tbody>
    </table>

    <a href="{{ path('property_view_agencies') }}">back to list</a>

{% endblock %}
