{% extends 'menu.base.html.twig' %}

{% block title %}Property index{% endblock %}

{% block body %}
    <h1>Property index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Contact Person</th>
            <th>Contact Email</th>
            <th>Phone</th>

        </tr>
        </thead>
        <tbody>
        {% for property in properties %}
            <tr>
                <td>{{ property.id }}</td>
                <td>{{ property.password }}</td>
                <td>{{ property.contactname }}</td>
                <td>{{ property.contactemail }}</td>
                <td>{{ property.phone }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
