{% extends 'agency.view.base.html.twig' %}

{% block title %}List of properties (agency view){% endblock %}

{% block body %}
    <h1>List of properties</h1>

    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Object</th>
            <th>Contact Person Name</th>
            <th>Contact Person Surname</th>
            <th>Contact Email</th>
            <th>Phone</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% set counter=0 %}
        {% for property in properties|sort ((a,b)=>a.object<=>b.object) %}
            {% set counter = counter +1 %}
            <tr>
                <td> {{ counter }}</td>
                <td>{{ property.object }}</td>
                <td>{{ property.contactName }}</td>
                <td>{{ property.contactSurname }}</td>
                <td>{{ property.contactEmail }}</td>
                <td>{{ property.contactPhone }}</td>
                <td>
{#                    {% for newsItem in news %}#}
                    <a href="{{ path('agency_view_property_news_read', {'id': property.id}) }}">Read messages</a>
{#                    {% endfor %}#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
