{% extends 'agency.view.base.html.twig' %}

{% block title %}Property show (agency view){% endblock %}

{% block body %}
    <h1>Property</h1>

    <table class="table">
    <tbody>
    {% set counter = 0 %}
    {% for property in properties %}}}
        {{ property.id }}
        {% set counter = counter +1 %}
        {% for news in news %}

            <tr>
                <th>#</th>
                <td>{{ counter }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ news.date }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ news.title }}</td>
            </tr>

            </tbody>
            </table>

            <a href="{{ path('agency_view_property_list') }}">back to list</a>
        {% endfor %}
    {% endfor %}

{% endblock %}
