{% extends 'agency.view.base.html.twig' %}

{% block title %}All news{% endblock %}

{% block body %}
    <h1>All news</h1>

    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>Title</th>
            <th>Property</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% set counter=0 %}
        {% for news in news|sort ((a,b)=>b.date<=>a.date) %}
            {% set counter = counter +1 %}
            <tr>
                <td>{{ counter }}</td>
                <td>{{ news.date ? news.date|date('d-m-Y') : '' }}</td>
                <td>{{ news.title }}</td>
                <td>{{ news.property.object }}</td>
                <td>
                    <a href="{{ path('agency_view_news_show', {'id': news.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
