{% extends 'admin.base.html.twig' %}

{% block title %}
    <div class="mb-3">
        You are logged in as {{ app.user.email }}<br> <a href="{{ path('app_logout') }}">Logout</a>
    </div>
{% endblock %}



{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('admin_view_users') }}">back to list</a>

    <a href="{{ path('admin_view_user_edit', {'id': user.id}) }}">edit</a>

    {{ include('adminView/_delete_form.html.twig') }}
{% endblock %}
