{% extends 'admin.base.html.twig' %}

{% block title %}
    <div class="mb-3">
        You are logged in as {{ app.user.email }}<br> <a href="{{ path('app_logout') }}">Logout</a>
    </div>
{% endblock %}
{% block body %}
    <h1>User list</h1>
    <a href="{{ path('admin_add_user_new') }}">Create new</a>

    <label for="cars">Add new user:</label>

    <select name="users" id="users">
        <option>Choose</option>
        <option select="admin_view_users">New Admin</option>
        <option value="">New Property</option>
        <option value="">New Agency</option>

    </select>
    <table class="table">
        <thead>
        <tr>
            <th>User</th>
            <th>Roles</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <div class="mb-3">
                    <td>{{ user.email }}</td>
                </div>
                <div class="mb-3">
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                </div>
                <div class="mb-3">
                    <td>
                        <a href="{{ path('admin_view_user_show', {'id': user.id}) }}">show</a>
                        <a href="{{ path('admin_view_user_edit', {'id': user.id}) }}">edit</a>
                    </td>
                </div>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script>  $('form').submit(function (event) {
            event.preventDefault();
            window.location.href = $('form select').value();
        });
        }</script>
{% endblock %}
